**Portal Dados Abertos CVM**

https://dados.cvm.gov.br/dataset/

# **Carregamento das Bibliotecas**

In [233]:
from datetime import date
import pandas as pd

# CARREGANDO O DATASET

O dataset utilizado pode ser visualizado e baixado do Portal Dados Abertos CVM (Comissão de Valores Mobiliários) do conjunto de dados: **"Fundos de Investimento: Documentos: Informe Diário"** e **"Fundos de Investimento: Informação Cadastral"**

## Informe Diário - 2022/08

O INFORME DIÁRIO é um demonstrativo que contém as seguintes informações do fundo, relativas à data de competência:

*   Valor total da carteira do fundo;
*   Patrimônio líquido;
*   Valor da cota;
*   Captações realizadas no dia;
*   Resgates pagos no dia;
*   Número de cotistas

(CVM, 2022)

In [268]:
informes_diarios = pd.read_csv("/content/inf_diario_fi_202208.csv", sep=";")
informes_diarios.head()

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-08-01,1063228.07,29.630676,1071445.40,0.0,0.0,1
1,FI,00.017.024/0001-53,2022-08-02,1063750.59,29.638894,1071742.58,0.0,0.0,1
2,FI,00.017.024/0001-53,2022-08-03,1064270.23,29.647170,1072041.82,0.0,0.0,1
3,FI,00.017.024/0001-53,2022-08-04,1064781.53,29.653982,1072288.14,0.0,0.0,1
4,FI,00.017.024/0001-53,2022-08-05,1065004.29,29.661078,1072544.77,0.0,0.0,1

## Fundos de Investimento - Conjunto Completo

Dados cadastrais de fundos de investimento estruturados e não estruturados (ICVM 555), tais como: CNPJ, data de registro e situação do fundo.

(CVM, 2022)

In [269]:
cadastro_cvm = pd.read_csv("/content/cad_fi.csv", sep=';', encoding='latin-1')
cadastro_cvm.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14,17,18,20,22,24,27,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,TP_FUNDO,CNPJ_FUNDO,DENOM_SOCIAL,DT_REG,DT_CONST,CD_CVM,DT_CANCEL,SIT,DT_INI_SIT,DT_INI_ATIV,...,ADMIN,PF_PJ_GESTOR,CPF_CNPJ_GESTOR,GESTOR,CNPJ_AUDITOR,AUDITOR,CNPJ_CUSTODIANTE,CUSTODIANTE,CNPJ_CONTROLADOR,CONTROLADOR
0,FACFIF,00.000.684/0001-21,DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...,2003-04-30,1994-12-20,19.0,2000-08-01,CANCELADA,2000-08-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FACFIF,00.000.731/0001-37,ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...,2003-04-30,1994-05-18,40681.0,1996-01-26,CANCELADA,1996-01-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#EXPLORANDO E PREPARARANDO DOS DADOS

In [270]:
print('Total de Cadastro CVM:',cadastro_cvm.shape)
print('Total de informes diários:', informes_diarios.shape)

Total de Cadastro CVM: (68606, 39)
Total de informes diários: (550867, 9)

##Valores ausentes (NaN)

In [162]:
informes_diarios.isna().sum()

In [164]:
cadastro_cvm.isnull().sum()

##Valores Zerados

In [271]:
# Analise de valores zerados da serie 'VL_PATRIM_LIQ'

(informes_diarios['VL_PATRIM_LIQ'] == 0).sum()

1465

In [272]:
# Analise de valores zerados da serie 'CAPTC_DIA'

(informes_diarios['CAPTC_DIA'] != 0).sum()

114288

## Normalização dos tipos dos valores



---


Informes Diários

In [273]:
informes_diarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550867 entries, 0 to 550866
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TP_FUNDO       550867 non-null  object
 1   CNPJ_FUNDO     550867 non-null  object
 2   DT_COMPTC      550867 non-null  object
 3   VL_TOTAL       550867 non-null  float64
 4   VL_QUOTA       550867 non-null  float64
 5   VL_PATRIM_LIQ  550867 non-null  float64
 6   CAPTC_DIA      550867 non-null  float64
 7   RESG_DIA       550867 non-null  float64
 8   NR_COTST       550867 non-null  int64
dtypes: float64(5), int64(1), object(3)
memory usage: 37.8+ MB

In [274]:
#Transformando o type da serie DT_COMPTC em datetime

informes_diarios['DT_COMPTC'] = pd.to_datetime(informes_diarios['DT_COMPTC'])

#validando o type convertido
informes_diarios.dtypes

TP_FUNDO                 object
CNPJ_FUNDO               object
DT_COMPTC        datetime64[ns]
VL_TOTAL                float64
VL_QUOTA                float64
VL_PATRIM_LIQ           float64
CAPTC_DIA               float64
RESG_DIA                float64
NR_COTST                  int64
dtype: object



---


Cadastro CVM

In [275]:
cadastro_cvm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68606 entries, 0 to 68605
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TP_FUNDO          68606 non-null  object
 1   CNPJ_FUNDO        68606 non-null  object
 2   DENOM_SOCIAL      68606 non-null  object
 3   DT_REG            68571 non-null  object
 4   DT_CONST          66513 non-null  object
 5   CD_CVM            68571 non-null  float64
 6   DT_CANCEL         36538 non-null  object
 7   SIT               68606 non-null  object
 8   DT_INI_SIT        68606 non-null  object
 9   DT_INI_ATIV       49074 non-null  object
 10  DT_INI_EXERC      52423 non-null  object
 11  DT_FIM_EXERC      52423 non-null  object
 12  CLASSE            55611 non-null  object
 13  DT_INI_CLASSE     55611 non-null  object
 14  RENTAB_FUNDO      42054 non-null  object
 15  CONDOM            55266 non-null  object
 16  FUNDO_COTAS       55621 non-null  object
 17  FUNDO_EXCLUSIVO   48500 non-null  object
 18  TRIB_LPRAZO       30639 non-null  object
 19  PUBLICO_ALVO      35253 non-null  object
 20  ENTID_INVEST      1889 non-null   object
 21  TAXA_PERFM        30183 non-null  float64
 22  INF_TAXA_PERFM    4722 non-null   object
 23  TAXA_ADM          30397 non-null  float64
 24  INF_TAXA_ADM      8296 non-null   object
 25  VL_PATRIM_LIQ     59350 non-null  float64
 26  DT_PATRIM_LIQ     59350 non-null  object
 27  DIRETOR           34924 non-null  object
 28  CNPJ_ADMIN        42239 non-null  object
 29  ADMIN             42239 non-null  object
 30  PF_PJ_GESTOR      41712 non-null  object
 31  CPF_CNPJ_GESTOR   41712 non-null  object
 32  GESTOR            41712 non-null  object
 33  CNPJ_AUDITOR      40864 non-null  object
 34  AUDITOR           40864 non-null  object
 35  CNPJ_CUSTODIANTE  40249 non-null  object
 36  CUSTODIANTE       40249 non-null  object
 37  CNPJ_CONTROLADOR  34754 non-null  object
 38  CONTROLADOR       34754 non-null  object
dtypes: float64(4), object(35)
memory usage: 20.4+ MB

In [276]:
# Transformando o type das series em datetime

cadastro_cvm['DT_REG'] = pd.to_datetime(cadastro_cvm['DT_REG'])
cadastro_cvm['DT_CONST'] = pd.to_datetime(cadastro_cvm['DT_CONST'])
cadastro_cvm['DT_CANCEL'] = pd.to_datetime(cadastro_cvm['DT_CANCEL'])
cadastro_cvm['DT_INI_SIT'] = pd.to_datetime(cadastro_cvm['DT_INI_SIT'])
cadastro_cvm['DT_INI_EXERC'] = pd.to_datetime(cadastro_cvm['DT_INI_EXERC'])
cadastro_cvm['DT_INI_ATIV'] = pd.to_datetime(cadastro_cvm['DT_INI_ATIV'])
cadastro_cvm['DT_FIM_EXERC'] = pd.to_datetime(cadastro_cvm['DT_FIM_EXERC'])
cadastro_cvm['DT_INI_CLASSE'] = pd.to_datetime(cadastro_cvm['DT_INI_CLASSE'])
cadastro_cvm['DT_PATRIM_LIQ'] = pd.to_datetime(cadastro_cvm['DT_PATRIM_LIQ'])

#validando as transformações
cadastro_cvm.dtypes

TP_FUNDO                    object
CNPJ_FUNDO                  object
DENOM_SOCIAL                object
DT_REG              datetime64[ns]
DT_CONST            datetime64[ns]
CD_CVM                     float64
DT_CANCEL           datetime64[ns]
SIT                         object
DT_INI_SIT          datetime64[ns]
DT_INI_ATIV         datetime64[ns]
DT_INI_EXERC        datetime64[ns]
DT_FIM_EXERC        datetime64[ns]
CLASSE                      object
DT_INI_CLASSE       datetime64[ns]
RENTAB_FUNDO                object
CONDOM                      object
FUNDO_COTAS                 object
FUNDO_EXCLUSIVO             object
TRIB_LPRAZO                 object
PUBLICO_ALVO                object
ENTID_INVEST                object
TAXA_PERFM                 float64
INF_TAXA_PERFM              object
TAXA_ADM                   float64
INF_TAXA_ADM                object
VL_PATRIM_LIQ              float64
DT_PATRIM_LIQ       datetime64[ns]
DIRETOR                     object
CNPJ_ADMIN                  object
ADMIN                       object
PF_PJ_GESTOR                object
CPF_CNPJ_GESTOR             object
GESTOR                      object
CNPJ_AUDITOR                object
AUDITOR                     object
CNPJ_CUSTODIANTE            object
CUSTODIANTE                 object
CNPJ_CONTROLADOR            object
CONTROLADOR                 object
dtype: object

## Modelando os dados

In [277]:
informes_diarios.columns

Index(['TP_FUNDO', 'CNPJ_FUNDO', 'DT_COMPTC', 'VL_TOTAL', 'VL_QUOTA',
       'VL_PATRIM_LIQ', 'CAPTC_DIA', 'RESG_DIA', 'NR_COTST'],
      dtype='object')

In [278]:
# Ordenando as series pelo maior número de cotistas

informes_diarios = informes_diarios.sort_values(by='NR_COTST', ascending=False)
informes_diarios.head(5)

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
5811,FAPI,02.185.027/0001-21,2022-08-15,4.827530e+08,7.489845,4.821160e+08,7380.0,1400.57,4721616
548967,FI,47.178.058/0001-93,2022-08-01,4.762043e+08,3.381539,4.761355e+08,0.0,1131.61,818824
548968,FI,47.178.058/0001-93,2022-08-02,4.815391e+08,3.418896,4.813939e+08,0.0,1584.46,818823
548969,FI,47.178.058/0001-93,2022-08-03,4.833634e+08,3.431312,4.831398e+08,0.0,2271.99,818820
548970,FI,47.178.058/0001-93,2022-08-04,4.929024e+08,3.498522,4.926013e+08,0.0,1939.24,818818

### Filtrando CNPJ com maior número de cotidas

In [279]:
#seleciono as series
Total_cotistas = informes_diarios[['TP_FUNDO', 'CNPJ_FUNDO', 'NR_COTST']]

#Agrupando e sumarizando
Total_cotistas = Total_cotistas.groupby(['TP_FUNDO', 'CNPJ_FUNDO']).sum()

#imprimendo os três maiores números de cotistas
Total_cotistas.head(3)

                             NR_COTST
TP_FUNDO CNPJ_FUNDO
FACFIF   06.537.068/0001-90       374
         07.408.147/0001-64      2112
FAPI     02.010.153/0001-45      9336

In [280]:
informes_diarios.describe()

,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
count,5.508670e+05,5.508670e+05,5.508670e+05,5.508670e+05,5.508670e+05,5.508670e+05
mean,4.151598e+08,3.606848e+04,4.146325e+08,2.598837e+06,2.561806e+06,1.004920e+03
std,2.723653e+09,1.409666e+07,2.721780e+09,4.839357e+07,9.495696e+07,1.584264e+04
min,-1.353224e+07,-3.027943e+00,-1.353224e+07,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.549237e+07,1.118320e+00,1.550106e+07,0.000000e+00,0.000000e+00,1.000000e+00
50%,4.315057e+07,2.136122e+00,4.326508e+07,0.000000e+00,0.000000e+00,2.000000e+00
75%,1.557733e+08,2.248428e+01,1.560232e+08,0.000000e+00,0.000000e+00,1.800000e+01
max,1.364848e+11,1.042557e+10,1.364846e+11,7.705692e+09,4.468747e+10,4.721616e+06

Criando um novo dataframe com o indice por data

In [281]:
 mediaCotistas = 1004
 fundos = informes_diarios[informes_diarios['NR_COTST'] >= mediaCotistas].pivot(index='DT_COMPTC', columns='CNPJ_FUNDO', 
                                                                               values=['VL_TOTAL','VL_QUOTA','VL_PATRIM_LIQ','CAPTC_DIA','RESG_DIA'])
 
 fundos.head(5)

                     VL_TOTAL                                        \
CNPJ_FUNDO 00.068.305/0001-35 00.071.477/0001-68 00.180.995/0001-10
DT_COMPTC
2022-08-01        37519902.74       6.881233e+09       1.762753e+08
2022-08-02        37525198.56       6.837530e+09       1.751066e+08
2022-08-03        37538426.80       6.783716e+09       1.751651e+08
2022-08-04        37533974.35       6.725615e+09       1.752003e+08
2022-08-05        37517655.54       6.653049e+09       1.750637e+08

                                                                     \
CNPJ_FUNDO 00.222.725/0001-24 00.222.816/0001-60 00.280.302/0001-60
DT_COMPTC
2022-08-01        80635639.24       1.692645e+09       4.929081e+08
2022-08-02        80416457.47       1.688939e+09       4.984549e+08
2022-08-03        80439923.32       1.687632e+09       4.930922e+08
2022-08-04        80481096.76       1.685624e+09       4.988599e+08
2022-08-05        80518957.71       1.694226e+09       4.985344e+08

                                                                     \
CNPJ_FUNDO 00.306.278/0001-91 00.322.699/0001-06 00.360.293/0001-18
DT_COMPTC
2022-08-01       2.021481e+09       2.837806e+09        91338484.62
2022-08-02       2.022191e+09       2.839311e+09        92455910.70
2022-08-03       2.023390e+09       2.825105e+09        92484724.98
2022-08-04       2.019332e+09       2.823420e+09        91387143.26
2022-08-05       2.013541e+09       2.820024e+09        90274891.44

                               ...           RESG_DIA                     \
CNPJ_FUNDO 00.398.561/0001-90  ... 67.976.449/0001-60 68.599.141/0001-06
DT_COMPTC                      ...
2022-08-01        86397049.79  ...          142240.68         7403895.93
2022-08-02        86915953.12  ...          143552.32         5286697.16
2022-08-03        88303752.98  ...           63506.41         5008254.46
2022-08-04        91141597.72  ...           72167.55         5151271.65
2022-08-05        91357942.27  ...          245341.11         6264470.57

                                                                     \
CNPJ_FUNDO 68.623.479/0001-56 68.670.512/0001-07 73.899.759/0001-21
DT_COMPTC
2022-08-01          842604.32             537.98          203557.18
2022-08-02          882443.23             100.99          172470.90
2022-08-03         1627475.37            3091.96          181484.63
2022-08-04          660245.56           29300.70           87048.64
2022-08-05         1082334.70           19262.48           98588.80

                                                                     \
CNPJ_FUNDO 74.326.471/0001-20 88.002.696/0001-36 88.198.056/0001-43
DT_COMPTC
2022-08-01            4424.14             818.81          138377.37
2022-08-02            2444.32             245.11          249679.81
2022-08-03           57157.04             345.36          111824.34
2022-08-04            1163.45            4055.94          106922.64
2022-08-05           41793.31            4706.72           35204.07


CNPJ_FUNDO 97.519.703/0001-62 97.519.794/0001-36
DT_COMPTC
2022-08-01         1462186.97           90527.14
2022-08-02         6506728.81           92049.49
2022-08-03         3432164.63           29876.08
2022-08-04        12176379.73          188125.03
2022-08-05        11962703.21           44410.02

[5 rows x 7725 columns]

In [282]:
fundos.shape

(23, 7725)

### SubConjuntos

In [ ]:
fundos['VL_TOTAL']

In [284]:
fundos['VL_QUOTA']

In [213]:
fundos['VL_PATRIM_LIQ']

In [214]:
fundos['CAPTC_DIA']

In [ ]:
fundos['RESG_DIA']

# Normalizando os dados de cotas para efeitos comparativos de fundos de investimentos

Para sabermos a variação do dia referente ao primeiro dia do mês, consideramos a primeira cota do mês como divisor e as demais cotas subsequentes como dividendo

* Os valores estão em porcentagem

In [285]:
cotas = ((fundos['VL_QUOTA'] / fundos['VL_QUOTA'].iloc[0])-1)*100
cotas.head(5)

CNPJ_FUNDO,00.068.305/0001-35,00.071.477/0001-68,00.180.995/0001-10,00.222.725/0001-24,00.222.816/0001-60,00.280.302/0001-60,00.306.278/0001-91,00.322.699/0001-06,00.360.293/0001-18,00.398.561/0001-90,...,67.976.449/0001-60,68.599.141/0001-06,68.623.479/0001-56,68.670.512/0001-07,73.899.759/0001-21,74.326.471/0001-20,88.002.696/0001-36,88.198.056/0001-43,97.519.703/0001-62,97.519.794/0001-36
DT_COMPTC,,,,,,,,,,,,,,,,,,,,,
2022-08-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-08-02,0.044053,0.042371,0.041109,0.041059,0.034594,0.044601,0.050129,0.050108,1.344752,0.832740,...,1.105238,0.041267,0.044149,1.362944,1.095222,0.499861,1.121775,0.043264,0.053419,0.051259
2022-08-03,0.087024,0.083374,0.089599,0.087535,0.092572,0.096367,0.096716,0.098976,1.471219,2.456019,...,1.502233,0.082499,0.087216,0.221010,1.496898,1.620705,1.680666,1.788080,0.130431,0.098052
2022-08-04,0.127984,0.124425,0.157608,0.143613,0.136063,0.148825,0.145184,0.150447,0.535350,5.521037,...,3.566523,0.122470,0.128273,4.968003,3.546640,1.741631,3.869104,4.580421,0.187646,0.159139
2022-08-05,0.174340,0.165788,0.191309,0.184676,0.175115,0.195418,0.196054,0.205131,-0.492066,5.995698,...,4.127566,0.164813,0.174726,7.213279,4.104686,0.413769,4.351739,5.459197,0.243922,0.205141

## Ranking dos 10 Fundos de Investimento com os melhores rendimentos em Agosto de 2022

In [296]:
ranking = pd.DataFrame()
ranking['retorno(%)'] = cotas.iloc[-1].sort_values(ascending=False)[:10]
ranking

                    retorno(%)
CNPJ_FUNDO
18.832.847/0001-06   32.810981
10.869.628/0001-81   28.152750
10.590.125/0001-72   28.110678
30.068.049/0001-47   23.175000
03.917.778/0001-58   20.157892
38.267.929/0001-54   20.110645
03.917.776/0001-69   20.090779
02.998.275/0001-91   20.044074
03.922.006/0001-04   20.015339
02.838.578/0001-47   19.998491

Buscando dados dos Fundos de Investimento pelo CNPJ, através da fonte de dados do **'Cadastro da CVM'**

In [298]:
for cnpj in ranking.index:  
  fundo = cadastro_cvm[cadastro_cvm['CNPJ_FUNDO'] == cnpj]
  ranking.at[cnpj, 'Carteira de Investimento'] = fundo['DENOM_SOCIAL'].values[0]
  ranking.at[cnpj, 'Classe'] = fundo['CLASSE'].values[0]
  ranking.at[cnpj, 'VL_PATRIM_LIQ'] = fundo['VL_PATRIM_LIQ'].values[0]

ranking

,retorno(%),Carteira de Investimento,Classe,VL_PATRIM_LIQ
CNPJ_FUNDO,,,,
18.832.847/0001-06,32.810981,VERSA LONG BIASED FUNDO DE INVESTIMENTO MULTIM...,Fundo Multimercado,2.157640e+08
10.869.628/0001-81,28.152750,BB AÇÕES CIELO FUNDO DE INVESTIMENTO,Fundo de Ações,6.993104e+07
10.590.125/0001-72,28.110678,BRADESCO FUNDO DE INVESTIMENTO EM AÇÕES CIELO,Fundo de Ações,2.110223e+07
30.068.049/0001-47,23.175000,FUNDO DE INVESTIMENTO EM AÇÕES CAIXA SEGURIDADE,Fundo de Ações,6.665657e+08
03.917.778/0001-58,20.157892,ITAÚ AÇÕES PETROBRÁS - FUNDO DE INVESTIMENTO,Fundo de Ações,3.527324e+08
38.267.929/0001-54,20.110645,ITAÚ INDEX PETROBRÁS AÇÕES FUNDO DE INVESTIMEN...,Fundo de Ações,1.816051e+08
03.917.776/0001-69,20.090779,ITAU PETROBRAS FMP - FGTS,FMP-FGTS,2.808198e+08
02.998.275/0001-91,20.044074,BRADESCO FMP - FGTS PETROBRAS,FMP-FGTS,4.326666e+08
03.922.006/0001-04,20.015339,BRADESCO H FUNDO DE INVESTIMENTO AÇÕES PETROBRAS,Fundo de Ações,5.154520e+07
02.838.578/0001-47,19.998491,BB FMP - FGTS PETROBRAS,FMP-FGTS,2.128491e+08

## Os 10 Fundos de Investimento com os menores rendimento em Agosto de 2022

In [299]:
menorRendimento = pd.DataFrame()
menorRendimento['retorno(%)'] = cotas.iloc[-1].sort_values(ascending=True)[:10]
menorRendimento

                    retorno(%)
CNPJ_FUNDO
41.545.885/0001-91  -18.580574
41.033.759/0001-58  -16.054782
43.508.005/0001-32  -13.428627
35.625.840/0001-24  -12.539564
44.026.806/0001-24  -12.350291
34.218.752/0001-45  -11.973818
38.027.135/0001-13  -11.674035
37.843.177/0001-60  -11.507327
41.887.925/0001-83  -10.776662
43.105.361/0001-05  -10.585513

Buscando dados dos Fundos de Investimento pelo CNPJ, através da fonte de dados do **'Cadastro da CVM'**

In [292]:
for cnpj in menorRendimento.index:
  fundo = cadastro_cvm[cadastro_cvm['CNPJ_FUNDO'] == cnpj]
  menorRendimento.at[cnpj, 'Carteira de Investimento'] = fundo['DENOM_SOCIAL'].values[0]
  menorRendimento.at[cnpj, 'Classe'] = fundo['CLASSE'].values[0]
  menorRendimento.at[cnpj, 'VL_PATRIM_LIQ'] = fundo['VL_PATRIM_LIQ'].values[0]


menorRendimento

,retorno(%),Carteira de Investimento,Classe,VL_PATRIM_LIQ
CNPJ_FUNDO,,,,
41.545.885/0001-91,-18.580574,VITREO COIN DEFI FUNDO DE INVESTIMENTO MULTIME...,Fundo Multimercado,16292028.90
41.033.759/0001-58,-16.054782,VITREO CRIPTO DEFI FI EM COTAS DE FUNDOS DE IN...,Fundo Multimercado,14005631.46
43.508.005/0001-32,-13.428627,VITREO CRIPTO NFT FUNDO DE INVESTIMENTO EM COT...,Fundo Multimercado,9234113.88
35.625.840/0001-24,-12.539564,TREND XP INC FI EM COTAS DE FUNDOS DE INVESTIM...,Fundo de Ações,72695808.31
44.026.806/0001-24,-12.350291,VITREO COIN SMART FUNDO DE INVESTIMENTO MULTIM...,Fundo Multimercado,4422353.31
34.218.752/0001-45,-11.973818,VITREO EXPONENCIAL FUNDO DE INVESTIMENTO EM AÇ...,Fundo de Ações,24372385.74
38.027.135/0001-13,-11.674035,TREND PRATA FUNDO DE INVESTIMENTO MULTIMERCADO,Fundo Multimercado,9059779.41
37.843.177/0001-60,-11.507327,VITREO PRATA FUNDO DE INVESTIMENTO MULTIMERCADO,Fundo Multimercado,19786715.03
41.887.925/0001-83,-10.776662,C6 TECHINVEST PRATA FUNDO DE INVESTIMENTO MULT...,Fundo Multimercado,1128792.18
43.105.361/0001-05,-10.585513,TREND BITCOIN DÓLAR FUNDO DE INVESTIMENTO EM C...,Fundo Multimercado,3561279.15

Fim